.snake {
  background-color: #2196f3;
  position: fixed;
  width: 19px;
  height: 19px;
  left: 15px;
  top: 65px;
  z-index: 100;
}

#end_game_overlay {
  position: fixed;
  width: 650px;
  height: 650px;
  background-color: white;
  z-index: -100;
  opacity: 50%;
}

.restart_button {
  position: fixed;
  top: 300px;
  left: 225px;
  font-size: 50px;
}
